

<div class="row">

  <div class="col-sm-6">

    <div class="card">
      <div class="card-header">Creation de Commande</div>
      <div class="card-body">

        <div class="form-group">
          <label>Reference</label>
          <input type="text" [(ngModel)]="commande.reference" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Total Paiement</label>
          <input type="text" [(ngModel)]="commande.totalPaiement" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Total</label>
          <input type="text" [(ngModel)]="commande.total" class="form-control"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="saveCommande()">Ajouter commande</button>
        </div>

      </div>
    </div>


    <div class="card">
      <div class="card-header">Suppression de Commande</div>
      <div class="card-body">

        <div class="form-group">
          <label>Reference</label>
          <input type="text"  [(ngModel)]="commande.reference" class="form-control"/>
        </div>
        <div class="form-group">
          <button class="btn btn-danger" (click)="deleteCommande(commande.reference)">Supprimer commande</button>
        </div>

      </div>
    </div>



  </div>

  <div class="col-sm-6">


    <div class="card">
      <div class="card-header">Liste des Commandes</div>
      <div class="card-body">

        <table class="table">
          <thead>

          <th>reference</th>
          <th>Total Paiement</th>
          <th>Total</th>
          <th>Action</th>

          </thead>

          <tbody>
          <tr *ngFor="let commandeSelect of listeCommandes">
            <td>{{commandeSelect.reference}}</td>
            <td>{{commandeSelect.totalPaiement}}</td>
            <td>{{commandeSelect.total}}</td>
            <td><button class="btn btn-outline-dark fa fa-plus" title="Consulter"></button>&nbsp;
            <button class="btn btn-outline-dark fa fa-pencil" title="Modifier"></button>&nbsp;
            <button class="btn btn-outline-dark fa fa-trash" title="Supprimer" (click)="deleteCommande(commandeSelect.reference)"></button></td>
          </tr>
          </tbody>

        </table>

      </div>
    </div>

    </div>

  </div>


